/.ipynb_checkpoints
/.virtual_documents
/Lemmetization Text Preprocessing.ipynb
/movie review
/Movie Review-Copy1.ipynb
/Name Entity Recognization.ipynb
/NLP Tutorial 1.ipynb
/NLP Word2vec And AvgWord2vec.ipynb
/Parts of Speech Tagging .ipynb
/RNN.ipynb
/Simple Sentiment Analysis.ipynb
/SMSSpamCollection.txt
/Stemming and It's Types.ipynb
/Stop Words .ipynb
/Tokenization Example.ipynb
/W2Vec and CounterVectorizer.ipynb
/Word2Vec and CBOW and Word Embedding.ipynb